@{
    ViewBag.Title = "IE8Update";
    Layout = "";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>系统提示升级</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ie8update.css" rel="stylesheet" />
</head>

<body>
    <img class="update_icon" src="~/img/update_prompt.png" />
    <p>系统检测到你使用的IE版本过低</p><p>请升级你的IE浏览器至9.X以上</p><p>或使用火狐、谷歌、360安全浏览器等其他第三方浏览器进入系统<p>以获得最佳浏览支持</p>

    <ul class="clearfix">
        <li><a href="http://rj.baidu.com/soft/detail/23360.html?ald" target="_blank">
            <img src="~/img/IE-LOG.png" /><br><button type="button" class="btn btn-primary">IE11下载</button></a></li>
        <li><a href="http://rj.baidu.com/soft/detail/15895.html?ald" target="_blank">
            <img src="~/img/liebao-log.png" /><br><button type="button" class="btn btn-primary">猎豹浏览器下载</button></a></li>
         <li><a href="http://rj.baidu.com/soft/detail/17451.html" target="_blank">
            <img src="~/img/360browser-log.jpg" /><br><button type="button" class="btn btn-primary">360浏览器下载</button></a></li>
        <li><a href="http://rj.baidu.com/soft/detail/11843.html?ald" target="_blank">
            <img src="~/img/firefox-log.png" /><br><button type="button" class="btn btn-primary">火狐浏览器下载</button></a></li>
    </ul>
</body>

</html>

