<div class="wrap clearfix">
        <div class="current-position">
            <div>
                <span><a href="@Url.Action("Index")">首页</a></span>&nbsp;>&nbsp;<span><a href="@Url.Action("Register_jump")">用户注册</a></span>
            </div>
        </div>
        <div class="register-jump-board edge_round">
            <div id="e_res" class="e_res clearfix">
                <img src="~/img/icon_qiye.png" />
                <h1>企业注册</h1>
            </div>
            
            <div id="p_res" class="p_res clearfix">
                <img src="~/img/iconfont-qiuzhizhe.png" style="width:110px;height:110px;" />
                <h1>求职者注册</h1>
            </div>
       </div>
</div><!--wrap end-->
<script type="text/javascript">
    $(document).ready(function (e) {
        $("#e_res").click(function () {
            location.href = "@Url.Action("Register_e")";
        });
        $("#p_res").click(function () {
            location.href = "@Url.Action("Register_p")";
        });
    });
</script>
