<div class="wrap clearfix">
        <!--current-position end-->
        <div class="training_con edge_round">
			<div class="tit" style="font-size:20px;margin-bottom:30px;font-weight:bold; ">夷陵区劳动就业训练中心技能培训</div>
            <div class="con" style="font-size:16px; line-height:30px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宜昌市夷陵区劳动就业训练中心隶属于夷陵区劳动就业管理局。位于夷陵区小溪塔长江市场中心湖光路7号，承担着全区公务员培训、事业单位员工各类培训考试、新生劳动力储备培训、农村劳动力转移培训、下岗失业人员再就业培训、企业职工技能提升培训、创业培训等职责。中心集职业培训、技能培训、技能鉴定、就业指导于一体，是全区唯一的政府全功能性培训服务基地、全区唯一的职业技能鉴定培训机构，全区唯一享受国家就业补贴的培训机构。<br/>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 负责全区失业下岗职工、农村富余劳动力、移民、企业新进员工等各类人员的职业技能培训，开展创业培训，协助开展创业指导；负责民办培训机构的业务指导及培训补贴的初步审核；承担全区事业单位职称计算机培训考试服务工作。<br/><br/>
			<table>
            	<tr><th>培训专业</th><th>培训时间</th><th>学费</th><th>培训内容</th></tr>
                <tr><td>电工</td><td>1个月</td><td>1260</td><td class="con">电工基本操作技能，常用电工仪表的使用，电气照明和内线工程的安装维修等操作技术</td></tr>
                <tr><td>电焊、气焊</td><td>各2个月</td><td>1260</td><td class="con">电焊焊接技术与技巧、气焊焊接技术与技巧、氩弧焊焊接技术与技巧</td></tr>
                <tr><td>钳工</td><td>1个月</td><td>630</td><td class="con">钳工基础功训练、钳工工具使用、钳工生产实习</td></tr>
                <tr><td>高级缝纫</td><td>1个月</td><td>540</td><td class="con">高级车工、排工、整烫技术等培训</td></tr>
                <tr><td>叉车</td><td>2个月</td><td>1260</td><td class="con">学习叉车的起步、载重、转弯、堆垛、倒竿、移库技术，走8路、S弯、直角转弯、定点停车、坡地、洼地驾驶技术、负荷作业、叠货架、货架升降、装货、卸货、行驶、叉运转移、转向等操作知识</td></tr>
                <tr><td>高级文秘班</td><td>1个月</td><td>540</td><td class="con">电脑基础班、XP操作系统、WORD2003中文字处理、EXCLE2003电子表格、PoweiPoint2003幻灯片</td></tr>
                <tr><td>AutoCAD</td><td>1个月</td><td>540</td><td class="con">基本概念、二维绘图、室内外建筑平面图、机械制图等平面图形</td></tr>
                <tr><td>Photoshop</td><td>1个月</td><td>540</td><td class="con">基础知识、工具的用法、滤镜特殊效果的应用、蒙版的操作、色彩处理、图形图像处理、效果图后期处理、平面广告设计</td></tr>
                <tr><td>CoreIDRAW</td><td>1个月</td><td>540</td><td class="con">基础知识、各种工具的用法、图形对象创建、基本色彩搭配、文字处理、产品包装设计、印刷制版、名片的制作等</td></tr>
                <tr><td>普通车床</td><td>3个月</td><td>3500</td><td class="con">理论与实际操作相结合，工程图板块、装配板块、分模板块的常用命令及模具设计技巧，各种车床的操作</td></tr>
                <tr><td>数控车床</td><td>半年</td><td>6000</td><td class="con">实物的视图表达方法，机械及金属材料热处理的基本知识，使用原则、计算机相关知识、指导设计交工模具，熟悉数控车床操作</td></tr>
                <tr><td>创业培训</td><td>10天</td><td>免费</td><td class="con">经济法规，学习工商、税务、金融、科技、管理、劳动管理等专业知识</td></tr>
            </table>
报名方法：<br/>
报名者持省份证复印件、2张1寸登记照到各乡镇劳管所或劳动就业中心一楼大厅报名，随时报名，随到随学，学会为止，推荐就业。<br/>
培训热线电话：0717-7816016    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 职介热线电话：0717-7816006<br/>

训练中心地址：宜昌市夷陵区湖光路7号<br/> 
邮政编码：443100<br/>
            </div>
        </div><!--training_con end-->
    </div><!--wrap end-->
<script type="text/javascript">
    pageFlag = "training";
</script>