@{
    ViewBag.Title = "资讯";
    Layout = "~/Views/Shared/_LayoutRecruitment.cshtml";
}

<!--主体区域-->
<div class="main-wrap mainbg" id="main">
    <div class="section white clearfix">
        <div class="ht_20"></div>
        <div class="block-aside">
            <div class="sidebar clearborder">
                <div class="headtitle"><h2>关于我们</h2></div>                                 	
                <div class="side-nav">
                    <ul>
                        <li class="node">
                            <a class="top-title" href="@Url.Action("Contact", "Recruiting")">联系我们</a>                                  
                        </li>
                        <li class="node actived">
                            <a class="top-title" href="@Url.Action("Statement", "Recruiting")">法律声明</a>                                  
                        </li>
                        <li class="node">
                            <a class="top-title" href="@Url.Action("About", "Recruiting")">关于我们</a>                                  
                        </li>
                        <li class="node">
                            <a class="top-title" href="@Url.Action("FAQ", "Recruiting")">常见问题</a>                                  
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-right">
            <div class="result-wrap">  
                <!--导航栏-->
                <div class="location breadcrumb">
                    <a href="/or/index.html" class="home"><i></i><span>返回首页</span></a>
                    <a href="index.html">
                        <span>关于我们</span>
                    </a> 
                    <i class="arrow"></i>
                    <span>法律声明</span>
                </div>
                <!--/导航栏-->
                <!--当前栏目-->
                <div class="result-records">
                    <div class="ls_rows">
                        <ul class="clearfix">
                            <li class="current-title"><i></i><label>法律声明</label></li>
                        </ul>
                        <div class=" ht_5 defcaption"></div>
                    </div>
                </div>
                <!--/当前栏目-->
                <!--内容-->
                <div class="clear result-list">
                    <div class="ht_10"></div>
                    <div class="view-article">     
                        <div class="article-text" id="article-text">

                        </div>
                    </div>
                </div>                   
                <!--/内容-->
            </div>
        </div>
    </div>
</div>
<!--/主体区域-->
<!-- Recommended script positioning -->
<script type="text/javascript">
	
</script>
